[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Introduction to RiotJS - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=al87U6NgRTc
Icon=text-html
